In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [6]:
housing = pd.read_csv("Real estate.csv")
housing.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [9]:

X = housing[['X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station',
        'X4 number of convenience stores', 'X5 latitude', 'X6 longitude']]
y = housing['Y house price of unit area']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
model_rf = RandomForestRegressor(n_estimators=100, random_state=44)
model_rf.fit(X_train, y_train)

y_predicted = model_rf.predict(X_test)
y_predicted

array([48.929     , 38.076     , 55.50426667, 33.509     , 26.36      ,
       45.2325    , 47.6485    , 50.37633333, 14.386     , 59.51425   ,
       26.834     , 32.371     , 33.4534    , 14.555     , 37.418     ,
       25.055     , 40.60866667, 53.52801667, 25.377     , 37.828     ,
       16.0038    , 23.529     , 48.417     , 46.10183333, 13.2338    ,
       35.16      , 15.684     , 56.8796    , 50.261     , 38.00266667,
       21.444     , 24.915     , 36.055     , 25.563     , 45.30766667,
       38.09196667, 53.896     , 15.74663333, 45.8245    , 51.909     ,
       49.052     , 40.893     , 45.993     , 38.163     , 39.826     ,
       49.944     , 35.1836    , 24.376     , 47.615     , 46.015     ,
       48.322     , 55.105     , 40.496     , 37.733     , 39.9386    ,
       16.12283333, 35.89066667, 26.921     , 24.954     , 52.525     ,
       27.638     , 24.028     , 16.12283333, 13.87666667, 21.107     ,
       23.475     , 25.854     , 39.435     , 36.701     , 26.758     ,
       40.865     , 51.26925   , 55.08643333, 49.4545    , 34.469     ,
       36.18      , 39.8621    , 32.3495    , 40.832     , 33.435     ,
       38.543     , 46.358     , 26.708     ])

In [14]:
mse_rf = mean_squared_error(y_test, y_predicted)
mae_rf = mean_absolute_error(y_test, y_predicted)
rmse_rf = np.sqrt(mse_rf)

In [15]:

print("MSE",mse_rf)
print("MAE",mae_rf)
print("RMSE",rmse_rf)

MSE 32.533902589755684
MAE 3.969382530120484
RMSE 5.70384980427743

In [22]:
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)

y_pred_dt = dt_model.predict(X_test)
y_pred_dt

array([48.6, 38.9, 43.5, 32.9, 23.8, 38.6, 51.7, 55. , 12.8, 58.1, 25.9,
       33.4, 48. , 13.8, 34.2, 23. , 32.4, 57.8, 27.7, 34.4, 14.4, 20.9,
       57.1, 36.3, 11.6, 33.1, 12.8, 43.5, 67.7, 28.5, 22.6, 21.7, 36.8,
       26.6, 41.2, 41.4, 52.7, 15.9, 38.6, 60.7, 61.5, 37.5, 46.1, 37.4,
       39.3, 47.9, 31.6, 32.1, 47.7, 53.3, 48.6, 55. , 34.1, 40.8, 55.3,
       15.9, 34.1, 22.8, 27.7, 55. , 23.1, 25.9, 15.9, 13.2, 18.8, 20.9,
       26.6, 31.6, 35.7, 25.3, 39.3, 61.5, 57.8, 36.9, 28.5, 43.1, 39. ,
       26.9, 37.4, 31.1, 46.4, 42.1, 28.4])

In [17]:
mse_dt = mean_squared_error(y_test, y_pred_dt)
mae_dt = mean_absolute_error(y_test, y_pred_dt)
rmse_dt = np.sqrt(mse_dt)

In [20]:

print("Decision tree MSE",mse_dt)
print("Decision tree MAE",mae_dt)
print("Decision tree RMSE",rmse_dt)

Decision tree MSE 66.47144578313254
Decision tree MAE 5.9313253012048195
Decision tree RMSE 8.153002255803228