In [1]:
import pandas as pd

In [2]:
Housing= pd.read_csv("Real estate.csv")

In [3]:
Housing.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [8]:
duplicated=Housing.duplicated().sum()
duplicated

0

In [10]:
Housing.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

X = Housing[['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X6 longitude']]
y=Housing['Y house price of unit area']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)
y_pred

array([47.88625422, 41.16404556, 44.27301439, 40.19761542, 27.51326511,
       45.10953115, 44.63293274, 46.36346234, 23.62063133, 54.33444894,
       34.07416461, 36.54533193, 37.55154254, 23.2794052 , 35.26614165,
       34.38327747, 43.35633504, 45.40740539, 30.07083159, 44.09191493,
        0.73505984, 34.99271686, 48.22735154, 45.48646485, 11.5995282 ,
       39.69783664, 12.71276251, 42.91282893, 34.93451401, 37.27964515,
       13.17842185, 40.12708486, 35.21883505, 27.71588924, 46.40090931,
       31.21941994, 50.90046891, 14.07339433, 49.05344276, 40.0538446 ,
       38.24588962, 40.63256441, 47.01634759, 37.65598977, 39.85801839,
       46.88588156, 43.7241343 , 20.94434531, 47.41546271, 45.40608841,
       48.33783579, 48.98845389, 42.27403852, 42.5841908 , 36.04088185,
       14.95491907, 36.61494629, 34.88196676, 28.33519081, 45.91188076,
       33.19268817, 32.18910095, 14.95491907,  8.86547927, 10.36079881,
       34.11119212, 28.48186875, 46.59826043, 32.96743316, 31.47635439,
       45.75168852, 38.1732971 , 45.83734855, 45.10711423, 34.85434095,
       37.43148997, 38.12216764, 37.54923793, 40.3686992 , 33.09139633,
       42.32783358, 43.35398473, 28.43979763])

In [24]:
X_train

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
192,2013.167,43.8,57.58945,7,24.96750,121.54069
234,2013.250,8.0,2216.61200,4,24.96007,121.51361
5,2012.667,7.1,2175.03000,3,24.96305,121.51254
45,2013.083,36.6,488.81930,8,24.97015,121.54494
245,2013.417,7.5,639.61980,5,24.97258,121.54814
...,...,...,...,...,...,...
71,2013.083,35.5,640.73910,3,24.97563,121.53715
106,2013.083,17.2,189.51810,8,24.97707,121.54308
270,2013.333,10.8,252.58220,1,24.97460,121.53046
348,2012.833,4.6,259.66070,6,24.97585,121.54516
102,2013.083,1.1,193.58450,6,24.96571,121.54089

In [31]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)
print ("mse",mse)
print("rmse",rmse)
print("mae",mae)

mse 53.50561912450505
rmse 7.314753524521866
mae 5.305355690074272